name: Collect GTFS-RT SA

on:
  schedule:
    - cron: "*/30 * * * *"   # toutes les 30 minutes
  workflow_dispatch:         # permet lancement manuel

jobs:
  collect:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests pandas openpyxl gtfs-realtime-bindings

      - name: Run collector
        run: python collect_gtfs_rt_sa.py

      - name: Commit and push files
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Auto update GTFS-RT SA archive" || echo "No changes"
          git push
